[user]
	name = Johan Kock
	email = johan.kock@gmail.com
[alias]
	ci = commit
	co = checkout
	st = status
    unstage = reset HEAD
    uncommit = reset --soft HEAD^
    r = remote -v
    t = tag -l
    # branch
    b = branch -v
	br = branch
    nb = checkout -b 
[color]
	ui = true
