[user]
	name = Johan Kock
	email = johan.kock@gmail.com
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	nb = checkout -b
[pull]
	rebase = true
[push]
	autoSetupRemote = true
[url "git@github.com:"]
    insteadOf = https://github.com/
